
#
# Java related
#
target/**
*.jar
*.war
*.ear
*.class

#
# eclipse specific
#
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
org.eclipse.core.resources.prefs
globals.properties


#
# External tool builders
#
.externalToolBuilders/

#
# Locally stored "Eclipse launch configurations"
#
*.launch



